:root {
    /* color variable setup */
    --green: #acc8ae;
    --blue: #172774;
    --pink: #ff0075;
    --white:#f2f2f2;
	--grey: #f2dfd9;
    
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
	background: var(--grey);
	overflow-x:hidden;
	margin:0;
}
header {
	padding: 40px;
	font-size: 50px;
	text-align: center;
	background: var(--green);
}