:root {
    /* color variable setup */
    --green: #ddfff7;
    --blue: #93e1d8;
    --pink: #ff0075;
    --white:#f2f2f2;
	--grey: #36494e;
    
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
	background: var(--green);
	overflow-x:hidden;
	margin:0;
}
header {
	padding: 40px;
	font-size: 50px;
	text-align: center;
	background: var(--blue);
}