:root {
    /* color variable setup */
    --green: #77d970;
    --blue: #172774;
    --pink: #ff0075;
    --white:#f2f2f2;
    
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
	background: var(--white);
	overflow-x:hidden;
	margin:0;
}
header {
	font-size: 50px;
	text-align: center;
}