<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" />
   
  </head>
 

  <body>
    
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>

    <script src="script.js"></script>
    <div id = "Recipes">
      <header>
        Recipes
      </header>
    </div>
    <section id="search">
      
      <input type="search" placeholder="Search for a recipe..." class="input" onkeyup="performSearch()">
      <!-- Each thing is part of the title for searching-->
      <ul class="links" id = "Food">
        <script src="readfile.js"></script>
        <li><a href='pancakes.html' target="_blank""><u><b>Pancakes</b></u><br>flour, sugar, salt, baking powder, milk, egg, butter, oil, maple syrup</a></li>
        <li><a href='https://www.epicurious.com/recipes/food/views/miso-butter-roast-chicken-acorn-squash-panzanella' target="_blank""><u><b>Miso-Butter Roast Chicken With Acorn Squash Panzanella</b></u><br>whole chicken, kosher salt, acorn squash, sage, rosemary, unsalted butter, allspice, red pepper flakes, black pepper, white bread, apple, olive oil, onion, apple cider vinegar, white miso, all-purpose flour, dry white wine, chicken broth</a></li>
      </ul>
    </section>
    
    <!-- <input type="file" id="file">
    <table id="table"></table>
    <script src="file.js"></script>


     -->
    
    
  </body>
</html>